header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--foreground-color);
    transition: border-bottom 300ms;

    padding-bottom: 10px;
    img {
        width: 60px;
    }

    span {
        width: 65px;
        text-align: center;
    }

    button {
        width: 50px;
    }
}
